.btn_resposta{
	background:none repeat scroll 0 0 #FFFFFF;
	color:#009900;
	text-decoration:none;
}

#title_exercicios {
	font-size:20px;
	color:#00009B;
	text-align:center;
	padding:7px;
}	

#titulo_indice_exercicios {
	font-size:16px;
	color:#000000;
	padding-left: 5px;
	text-align:center;
}

#lista_indice_exercicios ul {
	font-size:14px;
	color:#000000;
	list-style-type:none;
	margin:10px 0 0 15px;
}

#conteudo_exercicios {
	border-top: 2px solid #f5f5f5;
	padding: 1em 0;
	margin-top: 1em;
}

#titulo_conteudo_exercicios {
	font-size:16px;
	color:#00009B;
}

#conteudo_conteudo_exercicios {
	font-size:14px;
	padding: 10px 0 10px 14px;
	line-height:18px;
}
.quote{
	font-style: italic;
}