.titulo { font-weight:bold; }
.resposta { display: none; font-style: italic; margin: 10px 0;}
.sentence {text-aligment: center; margin:0 auto;}
.texto_azul { color:blue; }
.grupo {background: #7CCD7C;}
.grupo_maior {border: 1px solid;}
.classe_nucleo {color: #0000CC;}

span{
	width: 100%;
}
