
*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 10px;
	overflow: hidden;
}

#container{
	height: 600px;
	width: 900px;
}

/*Div that will contein the connected parts*/
#board{
	background:url("/readinweb-course-tool/content/modulos/exercicios/imagens/fundo2.jpg") repeat #00CC00;
	height: 600px;
}

.hole{
	position: absolute;
	height:60px;
	width: 130px;
}

.holeLast{
	position: absolute;
	height: 130px;
	width: 60px;
}

.border
{
   border: white dashed 2px;
}

/*proprieties of the parts*/
.part{
	display: block;
	left: auto;
	position: absolute;
	background: url("/readinweb-course-tool/content/modulos/exercicios/imagens/dominoh.gif");
	height:60px;
	width: 130px;
	cursor: move;
	text-align: center;
	color: white;
	vertical-align: middle;
 	line-height: 60px;;
}

.first{
	display: block;
	left: -65px;
	top: 10px;	
	height: 60px;
	width: 130px;
	position: absolute;
	background: url("/readinweb-course-tool/content/modulos/exercicios/imagens/dominoh.gif");
	text-align: center;
	color: white;
	vertical-align: middle;
 	line-height: 60px;;
}

.left{
	position: relative;
	height: 100%;
	width: 50%;
	float: left;
}

.right{
	position: relative;
	height: 100%;
	width: 50%;
	float: right;
}

#popUp{
	background:url("/readinweb-course-tool/content/modulos/exercicios/imagens/rounded_corner.png");
	left:50%;
	margin:-100px -175px;
	position:absolute;
	top:50%;
	width:350px;
	height:200px;
	z-index:900;
	display: none;
	text-align: center;
	font-size: 13px;
	font-weight:bold;
	color:#000;
}

#message{
	margin-top: 30px 14px 0 14px;
	font-size: 13px;
	font-weight:bold;
	color:#000;
	
}

#close{
	position: absolute;
	bottom: 5px;
	right: 5px;
}