.conteudo {
	max-width:600px;
	margin: 0 auto;
}
.quadrinho {
	margin-right: 1em;
	float: left;
}
.resp {
	width:10%; 
	float:right;
}
.tab-content.conteudo{
	padding-top: 1em;
}
.btn-success{
	margin-top: 1em;
}
.fonte{
	font-size: 0.9em;
	margin-top: 2em;
}