label {
	cursor:pointer;
	line-height: 135%;
}

.titulo{
	font-weight:bold;
}

.resposta {
	display: none;
	color: red;
	padding-top:10px;
}

.clicked{
	border-bottom: 2px solid black;
}

.blue{
	background: #BFEFFF;
}

.red{
	background: #FF5555;
}

.grey{
    background: #ccc;
}

.texto {
    line-height: 30px;
}

.comentario {
    visibility: hidden;
    color: #666;
}
