.vermelho {color:red;}

		.quadro {
		 			left:0;
		 			width:200px;
		 			height:110px;
		 			border: 1px solid;
		 			padding:0;
		 			margin:0;
		 		}

 		.resp {
 			left:0;
 			width:30px;
 			height:100px;
 			padding-top:45px;
 			margin:0;
 		}

		.esquerda {
					width:200px;
					float:left;
					margin:0;
					padding:0;
				  }

		.direita {
					float:left;
					width:200px;
					margin-left: 100px;
				 }
		.resposta {
					float:left;
					width:50px;
					margin-left: 10px;
				  }
		.mouse_over {background-color: #BFEFFF;}

		.quadro_clicado {background-color:#C1FFC1;}

		.negrito {font-weight: bold;}

		.canvas
		{
			position: absolute;
			top:0;
			left:0;
			height: 100%;
			width: 100%;
			z-index: -10;
		}

		/*#resposta { float: right;}*/

		#container_m6a3e4{
			height:530px;
			position:relative;
			width:680px;
		}