<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean parent="requestAddressibleParent">
		<property name="value"
			value="UploaderBean, AdminBean, DictionaryAjaxBean, FunctionalWordAjaxBean, 
      AdminActivityBean, ManageClassBean, CreateClassBean" />
	</bean>

	<bean id="resultsScope" parent="beanScopeParent">
		<property name="copyPreservingBeans"
			value="DictionaryAjaxBean, FunctionalWordAjaxBean, 
      ManageClassBean, CreateClassBean" />
		<property name="exclusive" value="true" />
	</bean>


	<!-- Override the default style of user messages -->
	<bean id="messageTemplateContributor" parent="templateContributorParent">
		<property name="baseDirectory" value="component-templates/" />
		<property name="templateNames" value="Messages" />
	</bean>

	<bean parent="templateContributorParent">
		<property name="templateResourceBase" ref="componentsTemplateResourceBase" />
		<property name="templateNames"
			value="admin-menu, activity-menu, activity-modules-menu, class-menu" />
	</bean>

	<!-- handles configuration of internationalization messages -->
	<bean id="messageLocator" class="uk.org.ponder.springutil.SpringMessageLocator">
		<property name="messageSource">
			<bean
				class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
				<property name="basename">
					<value>WEB-INF/bundle/messages</value>
				</property>
				<property name="cacheSeconds">
					<value>10</value>
				</property>
			</bean>
		</property>
		<property name="localeGetter" ref="requestLocaleProxy" />
	</bean>

	<!-- Control the location of the html templates (default: content/templates/) -->
	<bean id="templateResolverStrategy" parent="CRITemplateResolverStrategy">
		<property name="baseDirectory" value="content/templates/" />
	</bean>
</beans>
