/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* End of sticky footer
-------------------------------------------------- */
h1,h2,h3{
  font-family: 'Rufina';
}
h1{
  font-size: 2em;
}
body{
  font-family: 'Open Sans',sans-serif;
}
/* Text */
.prelecture{
  background-color: #f5f5f5;
  padding: 15px;
  border-left: 4px solid #76a6d7;
}
#text_text{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-size: 1.1em;
}

/* End Text */

/* Menu */
#lista_menu_principal{
  text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a.logo_unicamp, .navbar-brand{
  padding: 5px;
}
.navbar-default .navbar-nav>li>a {
  color: #000066;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #777;
}
#lista_menu_modulos{
  padding: 5px;
}
.lista_menu_atividades{
  list-style: none;
  padding: 0;
}
.lista_menu_atividades input{
  text-transform: uppercase;
}

/** Menu boostrap 3 hack **/
.dropdown-menu>li {
  border-bottom: 1px solid #eee;
  border-collapse: collapse;
}

.dropdown-menu>li>span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #555;
  background-color: #f5f5f5;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>span:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>span:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
/** End of hack**/


/* End Menu */

/* Tooltip */
.translation:hover{
  text-decoration: none;
}
/* End tooltip */

.first-row{
  margin-top: 80px;
}
#hidden-text, #time_text {
  display: none;
}
.affix-questoes {
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 4px;
  width: inherit;
}

#title_questions{
  font-weight: bold;
  color: #000066;
}
#sidebar-questoes {
  max-height: 100%;
  top: 65px;
}
#audio > div{
  display: inline-block;
}

/* Glossário e palavras-função */
.glossario-dicionario{
  max-height: 400px;
  overflow-y: auto;
}
#texto_palavrasfuncao, #texto_dicionario{
  list-style: none;
  padding: 5px;
}
/* End Glossário e palavras-função */

#preLecture_title{
  margin: 10px 0;
}

#audio, .print{
  float: right;
  margin-left: 15px;
}
#enunciado_questions, #suggested_answer p{
  padding: 5px;
  line-height: 1.5em;
}
.submitModule:hover, .link-modulo:hover{
  text-decoration: none;
}
/*.btn-resposta-sugerida{
  color: #fff;
}*/
.btn-resposta-sugerida:hover{
  text-decoration: none;
}
.btn-link:hover, .btn-link:focus {
  outline: none;
}

/* Footer */

.footer-menu{
  text-align: center;
  padding: 10px;
}
.footer-menu li{
  display: inline;
  list-style: none;
  padding: 10px;
}

/* End Footer */

/* Codemirror */

.CodeMirror, .CodeMirror-preview {
  border: 1px solid #CCC;
  border-radius: 4px;
  min-height: 700px !important;
  width: 100%;
}

.gramatica_tab_content {
  height: 700px;
}

/* End Codemirror */


/* Word edits */

.edit-forms {
  width: 100%;
  display: table;
}

.edit-forms .col-xs-4, .edit-forms .col-xs-3{
    padding-left: 0px;
    padding-right: 1px;
}

/* End Word edits */

