.underlined{
	text-decoration: underline;
}

.titulo {
	font-weight:bold; 
}

#columns{
	height: 170px;
}

#left{
	width: 40%;
	float: left;
	text-align: justify;
	margin-left: 5%;
}

#right{
	width: 40%;
	float: left;
	text-align: justify;
	margin-left: 5%;
}

#div_resposta {
	display: none;
	color: red;
}

#tabela{
	width:700px;
}

.coluna {
	width:200px;
	float: left;
}

p{
	clear: both;
}

.m515e1_center{
	display:block;
	text-align:center;
	font-weight:bold;
}



