<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projeto Read in Web - Gram&aacute;tica</title>
<link href='http://fonts.googleapis.com/css?family=Rufina:400,700' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
<!-- <link rel="stylesheet" type="text/css" href="../css/css.css" />

        <link rel="alternate stylesheet" type="text/css" media="screen" title="alto-contraste" href="../css/css_altocontraste.css" /> -->
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.min.css" />
<!-- End Bootstrap -->
<link rel="stylesheet" type="text/css" href="../assets/font-awesome-4.1.0/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="../css/main.css" />

</head>

<body>

    <!-- Wrap utilizado pro sticky footer -->
    <div id="wrap">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu principal</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../imagens/logo.png" alt="Curso Read in Web" />
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul id="lista_menu_principal" class="nav navbar-nav">
                    <li>
                        <a href="text.html" title="Leia o texto da atividade" name="TEXTO" rsf:id="linktext">TEXTO</a>
                    </li>

                    <li>
                        <a href="estrategias.html" title="Veja as estrat&#233;gias de leitura para essa atividade"
                            name="ESTRATEGIA" rsf:id="linkstrategy">ESTRAT&#201;GIAS</a>
                    </li>

                    <li>
                        <a href="exercicios.html" title="Exerc&#237;cios para aquisi&#231;&#227;o de l&#237;ngua"
                            name="EXERCICIOS" rsf:id="linkexercise">EXERC&#205;CIOS</a>
                    </li>

                    <li>
                        <a href="gramatica.html" title="Dicion&#225;rio gramatical" name="GRAM&#193;TICA"
                            rsf:id="linkgrammar">GRAM&#193;TICA</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Lista de módulos <b class="caret"></b>
                        </a>
                        <ul id="lista_menu_modulos" class="dropdown-menu">
                            <li rsf:id="li-rowsMod:">
                                <span href="#" class="link-modulo" rsf:id="lnk_modulo">M&oacute;dulo X</span>
                                <ul rsf:id="div_atividades:" class="lista_menu_atividades">
                                    <li rsf:id="p-rowsAct:">
                                        <a rsf:id="input_link_a_" id="input_link_a_" class="btn-link"> Atividade X </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://www.unicamp.br/" target="_blank" class="logo_unicamp">
                            <img src="../imagens/logounicamp.png" alt="Universidade Estadual de Campinas" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>

        <div class="container">
            <div class="row first-row">
                <ol class="breadcrumb">
                    <li>
                        Voc&ecirc; est&aacute; no M&oacute;dulo
                        <span rsf:id="current_mod">--</span>
                    </li>
                    <li>
                        Atividade
                        <span rsf:id="current_act">--</span>
                    </li>
                    <li class="active">
                        <span rsf:id="current_title">--</span>
                    </li>
                </ol>

                <div id="function">

                    <div id="gramatica" rsf:id="conteudo_gramatica_extendido"></div>

                    <div id="gramatica" rsf:id="div_gramatica_html"></div>

                    <!-- FECHA DIV GRAMATICA -->

                </div>
                <!-- FECHA DIV FUNCTION -->

            </div>
            <!-- Fim da DIV MIDDLE -->

        </div>
        <!-- FECHA DIV CONTENT -->
    </div>
    <!-- Fim do #wrap -->
    <div id="footer">
        <div class="container">
            <ul class="footer-menu">
                <li>Sobre o curso</li>
                <li>Suporte</li>
                <li>Termos de uso</li>
            </ul>
        </div>
    </div>

    <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/dropdown.js"></script>

    <script type="text/javascript" src="../js/headscripts.js"></script>

    <script type="text/javascript" src="../js/transparencia.js"></script>

    <script type="text/javascript" src="../js/textsizer.js"></script>

    <script type="text/javascript" src="../js/styleswitch.js"></script>

    <script type="text/javascript" src="../js/jquery-1.3.2.min.js"></script>

    <script type="text/javascript" src="../js/readinweb.js"></script>

    <script type="text/javascript">
            /**
             *
             * submiter_obj - OBJETO do tipo 'input submit' que ira alterar o valor da coisa toda - deve ter o ID no formato ''
             * hidden_module_id - ID do objeto 'hidden' que ira armazenar o valor do modulo de coisa toda
             * hidden_activity_id - ID do objeto 'hidden' que ira armazenar o valor da atividade de coisa toda
             * hidden_exercise_id - ID do objeto 'hidden' que ira armazenar o valor do exercicio como zero
             */
            function update_module( submiter_obj, hidden_module_id, hidden_activity_id, hidden_exercise_id ){
                var submiter_id;
                var submiter_splited;
                var module_id, activity_id;
                var hidden_mod_obj;
                var hidden_act_obj;
                var hidden_exe_obj;

                submiter_id = submiter_obj.id;
                submiter_splited = submiter_id.split('_');

                activity_id = submiter_splited[submiter_splited.length - 2];
                module_id = submiter_splited[submiter_splited.length - 1];

                hidden_mod_obj = document.getElementById(hidden_module_id);
                hidden_act_obj = document.getElementById(hidden_activity_id);
                hidden_exe_obj = document.getElementById(hidden_exercise_id);

                if (hidden_mod_obj != null){
                    hidden_mod_obj.value = module_id;
                    if (hidden_act_obj != null){
                        hidden_act_obj.value = activity_id;
                        if (hidden_exe_obj != null){
                            hidden_exe_obj.value = 0;
                        } else {
                            alert('Problemas com H de exe.');
                        }
                    } else {
                        alert('Problemas com H de act.');
                    }
                } else {
                    alert('Problemas com H de mod.');
                }

                return;
            }
        </script>

    <script type="text/javascript" src="../js/jquery-1.3.2.min.js"></script>
    <!--  <script src="http://jquery.com/src/jquery-latest.js"></script> -->
    <script>
            $(document).ready(function(){
                var gmodule = 0;
                var question = 1;
                var menu_switch = 0;
                $(".menu").click(function(){
                    if(menu_switch == 0){
                        $(".bloco").fadeIn("fast");
                        menu_switch = 1;
                    }
                    else{
                        $(".bloco").fadeOut("fast");
                        menu_switch = 0;
                    }
                });

                $(".modulo").click(function(){
                    var module = $(this).val();
                    if(module != gmodule){
                        gmodule = module;
                        $("div .atividades").hide(0);
                        $("div ." + module).fadeIn("slow");
                    }
                    else {
                        gmodule = 0;
                        $("div ." + module).fadeOut("slow");
                    }
                });
            });
        </script>

</body>
</html>
