<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projeto Read in Web - Gram&aacute;tica</title>
<link href='http://fonts.googleapis.com/css?family=Rufina:400,700' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.min.css" />
<!-- End Bootstrap -->
<link rel="stylesheet" type="text/css" href="../assets/font-awesome-4.1.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/gramatica.css" />
</head>

<body>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li>
                Voc&ecirc; est&aacute; no M&oacute;dulo
                <span rsf:id="current_mod">--</span>
            </li>
            <li>
                Atividade
                <span rsf:id="current_act">--</span>
            </li>
            <li class="active">
                <span rsf:id="current_title">--</span>
            </li>
        </ol>
    </div>

    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lista_menu_principal">
                <span class="sr-only">Menu principal</span>
                <span>MENU</span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="lista_menu_principal">
            <ul class="nav navbar-nav">
                <li>
                    <a href="text.html" title="Leia o texto da atividade" name="TEXTO" rsf:id="linktext">TEXTO</a>
                </li>

                <li>
                    <a href="estrategias.html" title="Veja as estrat&#233;gias de leitura para essa atividade"
                        name="ESTRATEGIA" rsf:id="linkstrategy">ESTRAT&#201;GIAS</a>
                </li>

                <li>
                    <a href="exercicios.html" title="Exerc&#237;cios para aquisi&#231;&#227;o de l&#237;ngua"
                        name="EXERCICIOS" rsf:id="linkexercise">EXERC&#205;CIOS</a>
                </li>

                <li>
                    <a href="gramatica.html" class="active" title="Dicion&#225;rio gramatical" name="GRAM&#193;TICA"
                        rsf:id="linkgrammar">GRAM&#193;TICA</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Lista de módulos <b class="caret"></b>
                    </a>
                    <ul id="lista_menu_modulos" class="dropdown-menu">
                        <li rsf:id="li-rowsMod:">
                            <a class="link-modulo" data-parent="#lista_menu_modulos" rsf:id="lnk_modulo"
                                data-toggle="collapse" type="button" href="#div_atividades">M&oacute;dulo X</a>
                            <ul rsf:id="div_atividades:" id="div_atividades"
                                class="lista_menu_atividades panel-collapse collapse">
                                <li rsf:id="p-rowsAct:">
                                    <a rsf:id="input_link_a_" id="input_link_a_" class="link_atividade"> Atividade X
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    </nav>

    <div class="container-fluid">
        <div class="row-fluid">

            <div id="function">

                <div id="gramatica" rsf:id="conteudo_gramatica_extendido"></div>

                <div id="gramatica" rsf:id="div_gramatica_html"></div>

                <!-- FECHA DIV GRAMATICA -->

            </div>
            <!-- FECHA DIV FUNCTION -->

        </div>
        <!-- Fim da DIV MIDDLE -->

    </div>
    <!-- FECHA DIV CONTENT -->

    <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/dropdown-menu.js"></script>
    <script type="text/javascript" src="../js/gramatica.js"></script>
    <script type="text/javascript" src="/library/js/headscripts.js"></script>
    <script type="text/javascript" src="../js/rsf.js"></script>
</body>
</html>
