<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Justificativas</title>

<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link href="../assets/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" type="text/css" href="../assets/font-awesome-4.1.0/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/justificativa.css" />
</head>

<body>
    <div class="portletBody">
        <nav class="navbar navbar-default main-menu" role="navigation">
        <div rsf:id="gateway_menu_replace:" class="container">
            
        </div>
        </nav>
        <div class="container">
            <div class="row">
                <h1>
                    Justificativas
                    <span rsf:id="riw_class_name">Graduação A</span>
                </h1>
            </div>
            <div id="justificativas" class="row">
                <h2>Novas justificativas e justificativas com novas mensagens</h2>
                <table class="table table-hover">
                    <tr>
                        <th>Aluno</th>
                        <th>Data de envio</th>
                        <th>Mensagens</th>
                        <th>
                            <span class="glyphicon glyphicon-wench"></span>
                        </th>
                    </tr>
                    <tr rsf:id="justificativa:">
                        <td rsf:id="username">Virgílio</td>
                        <td rsf:id="date_sent">26/06/1986</td>
                        <td rsf:id="num_messages">5</td>
                        <td rsf:id="evaluate_col:">
                            <a href="#" rsf:id="evaluate_link">Avaliar</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <h2>Justificativas já avaliadas</h2>
                <table class="table">
                    <tr>
                        <th>Aluno</th>
                        <th>Data de envio</th>
                        <th>Mensagens</th>
                        <th>
                            <span class="glyphicon glyphicon-wench"></span>
                        </th>
                    </tr>
                    <tr rsf:id="old_justificativa:" class="warning">
                        <td rsf:id="old_username">Virgílio</td>
                        <td rsf:id="old_date_sent">26/06/1986</td>
                        <td rsf:id="old_num_messages">5</td>
                        <td rsf:id="old_evaluate_col:">
                            <a href="#" rsf:id="old_evaluate_link">Avaliar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/library/js/headscripts.js"></script>
    <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
    <script type="text/css">
        jQuery(document).ready(function(){console.log("alive");)})
    </script>
</body>
</html>