<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projeto Read in Web - Estrat&eacute;gias</title>
<link href='http://fonts.googleapis.com/css?family=Rufina:400,700' rel='stylesheet'
   type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet'
   type='text/css' />
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.min.css" />
<!-- End Bootstrap -->
<link rel="stylesheet" type="text/css"
   href="../assets/font-awesome-4.1.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/justificativa.css" />
</head>
<body>
   <nav class="navbar navbar-default" role="navigation">
   <div rsf:id="gateway_menu_replace:" class="container"></div>
   </nav>
   <div class="container">
      <div rsf:id="current_justification_container:">
         <div class="page-header">
            <h1>Justificativa por atraso das atividades</h1>
         </div>
         <div>
            <div class="clearfix">
               <div class="alert alert-info">
                  <div>
                     <span rsf:id="username">Fulaninho</span> escreveu:
                     <button type="button" class="btn btn-info" aria-label="Left Align"
                        data-toggle="modal" data-target="#infoAluno">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                     </button>
                     <form rsf:id="current_evaluate_form" class="form-inline pull-right">
                        <button rsf:id="current_refuse"
                           onclick="confirm('Tem certeza que deseja recusar a justificativa?')"
                           type="submit" class="btn btn-danger">
                           <i class="fa fa-thumbs-o-down"></i> Recusar
                        </button>
                        <button rsf:id="current_accept" type="submit" class="btn btn-success">
                           <i class="fa fa-thumbs-o-up"></i> Aceitar
                        </button>
                     </form>
                  </div>
                  <hr />
                  <div rsf:id="current_justification_explanation">Professor, tive um
                     problema pessoal Professor, tive um problema pessoal Ah, meu filho, que eu
                     posso fazer? Professor, tive um problema pessoal Professor, tive um
                     problema pessoal Ah, meu filho, que eu posso fazer? Ah, meu filho, que eu
                     posso fazer? Ah, meu filho, que eu posso fazer?Professor, tive um problema
                     pessoal Professor, tive um problema pessoal Ah, meu filho, que eu posso
                     fazer? Professor, tive um problema pessoal Professor, tive um problema
                     pessoal Ah, meu filho, que eu posso fazer? Ah, meu filho, que eu posso
                     fazer? Ah, meu filho, que eu posso fazer?</div>
                  <hr />
                  <div class="">
                     <ul class="list-inline">
                        <li><span class="sent-date">Enviada em <span
                              rsf:id="sent_date">26/08/2014</span></span></li>
                        <li><span class="sent-date"> Avaliada em <span
                              rsf:id="evaluated_date">29/08/2014</span>
                        </span></li>
                     </ul>
                  </div>
               </div>
               <table class="table table-striped">
                  <tr rsf:id="current_justification_message:">
                     <td><span rsf:id="current_justification_sender">Professor </span>: <span
                        rsf:id="current_justification_body">Ah, meu filho, que eu posso
                           fazer?</span> <span class="sent-date" rsf:id="current_justification_date">26/10/2014</span></td>
                  </tr>
                  <tr>
                     <td><span rsf:id="send_message_item:">
                           <form class="form-inline" rsf:id="message_form">
                              <div class="form-group">
                                 <div class="input-group">
                                    <div class="input-group-addon">
                                       <span rsf:id="message_user"></span>
                                    </div>
                                    <textarea class="form-control" rows="1"
                                       placeholder="Envie uma mensagem" rsf:id="message"></textarea>
                                    <div class="input-group-btn">
                                       <button type="submit" rsf:id="send_message"
                                          class="btn btn-success">Enviar</button>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="input-group"></div>
                              </div>
                           </form>
                     </span></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <hr />
      <div class="row">
         <div class="panel panel-default col-xs-10 col-xs-offset-1">
            <h3>Histórico de justificativas e respostas</h3>
            <div id="historico-justificativas" class="clearfix">
               <div rsf:id="old_justifications:" class="jumbotron clearfix">
                  <ul class="list-inline">
                     <li>Enviada em <span rsf:id="old_sent_date">26/08/2014</span>
                     </li>
                     <li>Avaliada em <span rsf:id="old_evaluated_date">29/08/2014</span>
                     </li>
                  </ul>
                  <p rsf:id="old_explanation" class="alert alert-info" style="font-size: 14px;">Professor,
                     tive um problema pessoal</p>
                  <table class="table">
                     <tr rsf:id="old_justification_message:">
                        <td><span rsf:id="old_justification_sender">Professor </span>: <span
                           rsf:id="old_justification_body:">Ah, meu filho, que eu posso
                              fazer?</span> <span class="sent-date" rsf:id="old_justification_date">26/10/2014</span></td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="infoAluno" class="modal fade">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span> <span class="sr-only">Fechar</span>
               </button>
               <h3 class="modal-title">Informações sobre o Aluno</h3>
            </div>
            <div class="modal-body">
               <div>
                  <p>
                     O aluno completou <span rsf:id="activities_completed">x</span> ativades de
                     <span rsf:id="activities_published">y</span> atividades liberadas
                  </p>
                  <hr />
                  <p>Lista de acessos (o primeiro, último e quantidade total) por
                     atividade, ordenado pelo seu último acesso:</p>
                  <table class="table table-striped table-condensed">
                     <tr>
                        <th>Primeiro</th>
                        <th>Último</th>
                        <th>Atividade</th>
                        <th>Total</th>
                     </tr>
                     <tr rsf:id="activity_access_detail:">
                        <td rsf:id="activity_first_access">24/11/2014 23:56</td>
                        <td rsf:id="activity_last_access">25/11/2014 00:17</td>
                        <td rsf:id="activity_title">17- The Taj Mahal</td>
                        <td rsf:id="activity_total_accesses">8</td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
         </div>
         <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
   </div>
   <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
   <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/library/js/headscripts.js"></script>
   <script type="text/javascript" src="../js/rsf.js"></script>
</body>
</html>
