<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Projeto Read in Web - Vers&atilde;o para Impress&atilde;o</title>
		<link rel="stylesheet" type="text/css" href="../css/css.css" />
	</head>

	<body style="background-color:#ffffff; background-image:none; padding:5px;" >
	
		<div id="container_printer">
		    <div id="header_text" rsf:id="header_text"></div>
		    <div id="title_printtext" rsf:id="title_text"></div>
		    <div id="picture_printtext" rsf:id="picture_text"></div>
		    <div id="text_printtext" rsf:id="text_text"></div>
		</div>
	    
	</body>
</html>