<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projeto Read in Web - Administra&ccedil;&atilde;</title>

<link href="../assets/bootstrap/css/bootstrap.min.css" type="text/css"
	rel="stylesheet" media="all" />
<link rel="stylesheet" type="text/css"
	href="../assets/font-awesome-4.1.0/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/turmas.css" />

</head>

<body>
	<div class="portletBody">
		<nav class="navbar navbar-default main-menu" role="navigation">
		<div rsf:id="gateway_menu_replace:" class="container"></div>
		</nav>
		<div class="container">
			<div class="row">
				<h1>Relatório de atividades</h1>
				<h3>
					Aluno: <span rsf:id="student_name">Gabriel da Silva Lima</span>
				</h3>

				<h4>Informações gerais</h4>
				<ul>
					<li>Cadastro em dia <span rsf:id="signup_date"></span> no
						Sakai.
					</li>
					<li>Primeiro acesso ao curso foi <span
						rsf:id="first_access_date"></span></li>
					<li>Último acesso foi <span rsf:id="last_access_date"></span></li>
					<li>
						<p>
							Completou <span rsf:id="activities_done"></span> das <span
								rsf:id="activities_published"></span> atividades.
						</p>
					</li>
				</ul>

				<h4>Bloqueios</h4>
				<div class="blocks row">
					<div rsf:id="block_box:" class="block col-xs-10 col-xs-offset-1">
						<p>
							No dia <span rsf:id="block_date"></span> ele enviou justificativa
							e no dia <span rsf:id="evaluate_date"></span> foi desbloqueado e
							acessou o curso novamente dia <span rsf:id="next_access_date"></span>
						</p>
						<h5>Justificativa de atraso:</h5>
						<p rsf:id="explanation" class="alert alert-warning">Mandei
							email várias vezes para comunicar que eu estou sem acesso ao
							curso desde o primeiro momento em que fiz o cadastro, gostaria de
							pedir o desbloqueio, já que consegui entrar nesse momento até
							esta parte da plataforma, algo que não acontecia. Gostaria de
							perguntar o que faço com tudo que não cumpri até agora? Aguardo
							um retorno.</p>
					</div>
				</div>

				<div>
					<h4>Lista de acessos (o primeiro, último e quantidade total)
						por atividade, ordenado pelo seu último acesso:</h4>
					<table class="table table-striped table-condensed">
						<tr>
							<th>Primeiro</th>
							<th>Último</th>
							<th>Atividade</th>
							<th>Total</th>
						</tr>
						<tr rsf:id="activity_access_detail:">
							<td rsf:id="activity_first_access">24/11/2014 23:56</td>
							<td rsf:id="activity_last_access">25/11/2014 00:17</td>
							<td rsf:id="activity_title">17- The Taj Mahal</td>
							<td rsf:id="activity_total_accesses">8</td>
						</tr>
					</table>
				</div>


				<div>
					<h4>Ordem que ele iniciou as as atividades:</h4>
					<div class="col-xs-10 col-xs-offset-1">
						<table class="table">
							<tr>
								<td>Atividade</td>
								<td>Finalizada</td>
							</tr>
							<tr rsf:id="activity_completion_order">
								<td rsf:id="activity">1 - How green is my planet?</td>
								<td><span rsf:id="activity_completed"
									class="glyphicon glyphicon-ok"></span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/library/js/headscripts.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
</body>
</html>