<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projeto Read in Web - Administra&ccedil;&atilde;</title>

<link href="../assets/bootstrap/css/bootstrap.min.css" type="text/css"
	rel="stylesheet" media="all" />
<link rel="stylesheet" type="text/css"
	href="../assets/font-awesome-4.1.0/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/turmas.css" />

</head>

<body>
	<div class="portletBody">
		<nav class="navbar navbar-default main-menu" role="navigation">
		<div rsf:id="gateway_menu_replace:" class="container">
			
		</div>
		</nav>
		<div class="container">
			<ol class="breadcrumb">
				<li><span rsf:id="course_name">Curso Read in Web</span></li>
				<li class="active"><span rsf:id="riw_class_name">Turma</span></li>
			</ol>
			<header class="page-header">
			<h1>
				<span rsf:id="riw_class_name">Turma</span>
			</h1>
			</header>
			<section class="class-info">
			<p>
				Início das atividades em <span sf:id="riw_startdate">21/08/2014</span>
			</p>
			<p>
				Quantidade de alunos: <span rsf:id="riw_students_count">30</span>
			</p>
			<p>
				Atividades liberadas: <span rsf:id="riw_activities_published">10</span>
			</p>
			</section>
			<div class="row">
				<div class="col-xs-10">
					<h3>Alunos matriculados</h3>
				</div>
				<div class="col-xs-2">
					<form rsf:id="form_class_state" class="form-inline  pull-right">
						<button type="submit" class="btn btn-success" rsf:id="play_class">
							<span class="glyphicon glyphicon-play"></span> Continuar turma
						</button>

						<button type="submit" class="btn btn-danger" rsf:id="pause_class">
							<span class="glyphicon glyphicon-pause"></span> Pausar turma
						</button>
					</form>
				</div>
			</div>
			<div>
				<table class="table table-striped" rsf:id="riw_students:">
					<tr>
						<th width="70%">Nome</th>
						<th>Bloqueios</th>
						<th>Completadas</th>
					</tr>
					<tr rsf:id="riw_student:">
						<td><a rsf:id="student_name" href="#">Ana Rute Cavalcanti
								Vaz Mendes Tenório Ribeiro</a></td>
						<td><a rsf:id="student_blocks" href="#justificativas">4</a></td>
						<td>25</td>
					</tr>
				</table>
			</div>
			<div>
				<h3>Módulos e Atividades do Curso</h3>
				<ul class="table table-striped" rsf:id="riw_data:">
					<li rsf:id="riw_module:"><span rsf:id="riw_module_position">1</span>
						<ul class="default">
							<li rsf:id="riw_activity:"><span rsf:id="activity_title"
								href="#">How green</span> - <span rsf:id="activity_published">Sim</span>
							</li>
						</ul></li>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/library/js/headscripts.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
</body>
</html>