<div rsf:id="admin_menu:" class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#lista_menu_principal">
			<span class="sr-only">Menu principal</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="lista_menu_principal">
		<ul class="nav navbar-nav">
			<li><a href="#" rsf:id="course_list"
				title="Ver todos os cursos">Cursos</a></li>
			<li><a href="#" rsf:id="course_create"
				title="Criar novo curso">Novo Curso</a></li>
		</ul>
	</div>
</div>
