<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projeto Read in Web - Gram&aacute;tica</title>
<link href='http://fonts.googleapis.com/css?family=Rufina:400,700' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.min.css" />
<!-- End Bootstrap -->
<link rel="stylesheet" type="text/css" href="../assets/font-awesome-4.1.0/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="../js/codemirror-4.5/doc/docs.css" />
<link rel="stylesheet" type="text/css" href="../js/codemirror-4.5/lib/codemirror.css" />
<link rel="stylesheet" type="text/css" href="../js/codemirror-4.5/addon/hint/show-hint.css" />
<link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>

<body class="gramatica_tab_content">

    <!-- Wrap utilizado pro sticky footer -->
    <div id="wrap">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu principal</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../img/logo.png" alt="Curso Read in Web" />
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul id="lista_menu_principal" class="nav navbar-nav">
                    <li>
                        <a href="text.html" title="Leia o texto da atividade" name="TEXTO" rsf:id="linktext">TEXTO</a>
                    </li>

                    <li>
                        <a href="estrategias.html" title="Veja as estrat&#233;gias de leitura para essa atividade"
                            name="ESTRATEGIA" rsf:id="linkstrategy">ESTRAT&#201;GIAS</a>
                    </li>

                    <li>
                        <a href="exercicios.html" title="Exerc&#237;cios para aquisi&#231;&#227;o de l&#237;ngua"
                            name="EXERCICIOS" rsf:id="linkexercise">EXERC&#205;CIOS</a>
                    </li>

                    <li>
                        <a href="gramatica.html" title="Dicion&#225;rio gramatical" name="GRAM&#193;TICA"
                            rsf:id="linkgrammar">GRAM&#193;TICA</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Lista de módulos <b class="caret"></b>
                        </a>
                        <ul id="lista_menu_modulos" class="dropdown-menu multi-level" role="menu"
                            aria-labelledby="dropdownMenu">
                            <li rsf:id="li-rowsMod:" class="dropdown-submenu">
                                <span tabindex="-1" data-target="#" rsf:id="lnk_modulo">M&oacute;dulo X</span>
                                <ul rsf:id="div_atividades:" class="dropdown-menu">
                                    <li rsf:id="p-rowsAct:">
                                        <a rsf:id="input_link_a_" id="input_link_a_" class="btn-link"> Atividade X </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://www.unicamp.br/" target="_blank" class="logo_unicamp">
                            <img src="../img/logounicamp.png" alt="Universidade Estadual de Campinas" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>

        <div class="container">
            <div class="row first-row">
                <ol class="breadcrumb">
                    <li>
                        Voc&ecirc; est&aacute; no M&oacute;dulo
                        <span rsf:id="current_mod">--</span>
                    </li>
                    <li>
                        Atividade
                        <span rsf:id="current_act">--</span>
                    </li>
                    <li class="active">
                        <span rsf:id="current_title">--</span>
                    </li>
                    <li>Gramática</li>
                </ol>

                <div id="function">
                    <div id="gramatica">
                        <form rsf:id="grammar_form">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a href="#edit_mode" role="tab" data-toggle="tab">Editar</a>
                                </li>
                                <li>
                                    <a href="#preview_mode" role="tab" data-toggle="tab">Preview</a>
                                </li>
                                <li class="pull-right">
                                    <button id="format_button" type="button" class="btn btn-primary">Formatar
                                        código</button>
                                    <button rsf:id="grammar_save" type="submit" class="btn btn-success">Salvar</button>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="edit_mode">
                                    <div class="form-group">
                                        <textarea class="form-control" id="grammar" rsf:id="grammar">
                                            <oe></oe>
                                        </textarea>
                                    </div>
                                </div>
                                <div class="tab-pane" id="preview_mode">
                                    <iframe class="CodeMirror-preview" id="preview"> </iframe>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- FECHA DIV GRAMATICA -->
                </div>
                <!-- FECHA DIV FUNCTION -->
            </div>
            <!-- Fim da DIV MIDDLE -->
        </div>
        <!-- FECHA DIV CONTENT -->
    </div>
    <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/library/js/headscripts.js"></script>

    <!-- Fim do #wrap -->
    <script src="../js/codemirror-4.5/lib/codemirror.js"></script>
    <script src="../js/codemirror-4.5/lib/util/formatting.js"></script>
    <script src="../js/codemirror-4.5/addon/hint/show-hint.js"></script>
    <script src="../js/codemirror-4.5/addon/hint/xml-hint.js"></script>
    <script src="../js/codemirror-4.5/addon/hint/html-hint.js"></script>
    <script src="../js/codemirror-4.5/mode/xml/xml.js"></script>
    <script src="../js/codemirror-4.5/mode/javascript/javascript.js"></script>
    <script src="../js/codemirror-4.5/mode/css/css.js"></script>
    <script src="../js/codemirror-4.5/mode/htmlmixed/htmlmixed.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var delay;

            editor = CodeMirror.fromTextArea(document.getElementById("grammar"),
                    {
                        mode : "text/html",
                        lineNumbers : true,
                        extraKeys : {
                            "Ctrl-Space" : "autocomplete"
                        },
                    });

            CodeMirror.commands["selectAll"]
                    (editor);

            function getSelectedRange() {
                return {
                    from : editor.getCursor(true),
                    to : editor.getCursor(false)
                };
            }

            function autoFormatSelection() {
                var range = getSelectedRange();
                editor.autoFormatRange(range.from,
                        range.to);
            }

            editor.on("change", function() {
                clearTimeout(delay);
                delay = setTimeout(updatePreview,
                        300);
            });

            function updatePreview() {
                var previewFrame = document
                        .getElementById('preview');
                var preview = previewFrame.contentDocument
                        || previewFrame.contentWindow.document;
                preview.open();
                preview.write(editor.getValue());
                preview.close();
            }

            jQuery("#format_button").click(
                    function() {
                        autoFormatSelection();
                    });

            updatePreview();
        });
    </script>
</body>
</html>
