<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projeto Read in Web - Administra&ccedil;&atilde;</title>

<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link href="../assets/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" type="text/css" href="../assets/font-awesome-4.1.0/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>

<body>
    <div class="portletBody">
        <nav class="navbar navbar-default main-menu" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Menu principal</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../img/logo.png" alt="Curso Read in Web" />
                </a>
            </div>
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" rsf:id="link_home">Criar curso</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://www.unicamp.br/" target="_blank" class="logo_unicamp">
                            <img src="../img/logounicamp.png" alt="Universidade Estadual de Campinas" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h2>Enviar Conteúdo</h2>
                <div rsf:id="senderror" class="alert alert-danger" >

                </div>
                <form class="form-horizontal" rsf:id="uploadform" method="post" enctype="multipart/form-data"
                    role="form">
                    <div class="form-group">
                        <label for="course_description" class="col-sm-2 control-label"> Arquivo </label>
                        <div class="col-sm-10">
                            <input type="file" name="content_file" id="course_file" placeholder="Descrição do Curso" />
                        </div>
                        <div>
                            <p>
                                Os arquivos são do tipo CSV sem cabeçalho com caractere de separação ; e conteudo
                                envolvido por "". Para arquivos de <strong>conteúdo de exercícios</strong> eles estar no
                                formato .zip com a estrutura de diretorios correta de acordo com a especificação do
                                manual
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button rsf:id="send_content" type="submit" class="btn btn-default">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/library/js/headscripts.js"></script>
    <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
    <script type="text/css">
            jQuery(document).ready(function(){console.log("alive");)})
        </script>
</body>
</html>