
#containerm6a1e4{
	width: 100%;
	height: 100%;
	position: relative;
}


.hole{
	top: 240px;
	float: left;
	position: absolute;
	height: 120px;
	width: 111px;
	border-bottom: #888 solid 2px;
	border-right: #888 solid 2px;
	border-top: #ccc solid 1px;
	border-left: #ccc solid 1px;
}

.image{
	top: 120px;
	float: left;
	position: absolute;
	cursor:move;
	height: 120px;
	width: 111px;
}

.subtitle{
	font-style: italic;
	top: 370px;
	float: left;
	position: absolute;
	width: 111px;
}

#popUp{
	position: relative;
	background:url("/readinweb-course-tool/content/modulos/exercicios/imagens/rounded_m6a1e4.png");
	width:190px;
	height:109px;
	top: 100px;
	left:50%;
	margin-left: -145px;
	display: none;
	color: white;
	vertical-align: middle;
	text-align:center;
}

#message{
	padding:20% 0;
	position:relative;
}
